version: '3.7'
services:
  #Nginx Service
  web:
    image: nginx:alpine
    container_name: ${APP_NAME}-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "${PORT_HTTP}:80"
      - "${PORT_HTTPS}:443"
    volumes:
      - ./etc/nginx/conf.d/:/etc/nginx/conf.d/
      - ./${APP_PATH}:/var/www/html
    networks:
      - this-net
      - proxy # for reverse proxy

  # PHP-FPM
  php:
    build:
      context: ./etc/php-${PHP_VER_FPM}
    container_name: ${APP_NAME}-php-${PHP_VER_FPM}
    restart: unless-stopped
    image: ${APP_NAME}-php-fpm${PHP_VER_FPM}:${APP_NAME}
    environment:
      - "ENV_SUBSTITUTION_ENABLE=true"
      - "PHP_MEMORY_LIMIT=512"
      - "PHP_FPM_LISTEN=${PHP_FPM_LISTEN}"
      - "PHP_SESSION_GC_MAXLIFETIME=7200"
    expose:
      - "9090"
    volumes:
#      - ./etc/php-${PHP_VER_FPM}/php.ini:/usr/local/etc/php/conf.d/php.ini
      - ./${APP_PATH}:/var/www/html
    networks:
      - this-net
      - mysql57 # for mysql 5.7 service
      - mysql8  # for mysql 8 service
      - mailhog # for mailhog service

# Networks
networks:
  this-net:
    name: this-net
  mysql57:
    name: mysql57 # for mysql 5.7 service
  mysql8:
    name: mysql8  # for mysql 8 service
  proxy:
    name: proxy   # for reverse proxy
  mailhog:
    name: mailhog # for mailhog service